<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<bean name="employee" class="com.subrutin.springweb.Employee">
		<property name="id" value="2"></property>
		<property name="fullName" value="Silvie"></property>
		<property name="address" value="Jalan Merdeka"></property>	
	</bean>
	
	<bean name="company" class="com.subrutin.springweb.Company">
		<constructor-arg ref="employee"></constructor-arg>
	</bean>
	
	<bean name="helloServlet" class="com.subrutin.springweb.HelloServlet">
		<property name="company" ref="company"></property>
	</bean>
	
</beans>
